
<h1>Nutzer Auslesen</h1>

<table>
<tr>
<th>ID:</th>
<th>Vorname</th>
<th>Name</th>
<th>Mail</th>
<th>Verein</th>
<th>Bearbeiten</th>
<th>Anzeigen</th>
<th>Testfeld</th>
<th></th>
</tr>

<% @referees.each do |referee| %>
<tr>
<td><%= referee.id %></td>
<td><%= referee.firstname %></td>
<td><%= referee.lastname %></td>
<td><%= referee.mail %></td>
<td><%= referee.club.shortform %></td>
<td><%= link_to 'be', edit_referee_path(referee) %></td>
<td><%= link_to 'disp', referee_path(referee) %></td>
<td><%= link_to 'KA', new_registration_path %></td>

<% end %>
</table>

