<h1>Nutzer Anlegen</h1>
<%= link_to 'Back', referees_path %>
<%= form_for :referee, url: referees_path do |dat| %>
<p>Der Benutzername wird automatisch aus den Daten generiert und per Mail zugeschickt</p>
  <p>
    <%= dat.label :Vorname %>*<br>
    <%= dat.text_field :firstname %>
  </p>
  <p>
    <%= dat.label :Nachname %>*<br>
    <%= dat.text_field :lastname %>
  </p>
  <p>
    <%= dat.label :"E-Mail" %>*<br>
    <%= dat.text_field :mail %>
  </p>
  <p>
    <%= dat.submit %>
  </p>
<%end %>

<p>
Benötigte Felder
</p>

