<h1>Deine Daten</h1>
<p>Wilkommen <%= @referee.firstname %></p>
  <p>
    Vorname	: <%= @referee.firstname %><br>
    Name	: <%= @referee.lastname %><br>
	Mail	: <%= @referee.mail %><br>
	Verein	: <%= Club.find(@referee.club).fullname %><br>
  </p>

<%= link_to 'Back', referees_path %>

