<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>	
	<%= link_to 'Schiedsrichter', referees_path %>
	<%= link_to 'Vereine', clubs_path %>
	<%= link_to 'Kurse', courses_path %>
</p>
<p>
	<%= link_to 'Neuen Benutzer anlegen', new_referee_path %>
	<%= link_to 'Neuen Verein anlegen', new_club_path %>
	<%= link_to 'Neuen Kurse anlegen', new_course_path %>
</p>

<%= yield %>

</body>
</html>
