<%= form_for @course do |dat| %>
	<% if @course.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@course.errors.count, "Fehler") %> sind aufgetreten Eintrag nicht gespeichert
			</h2>
			<ul>
				<%= @rcourse.errors.full_messages.each do |ermsg| %>
				<li><%= ermsg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

 
<p>Lege hier einen Kurs an!</p>
  <p>
    <%= dat.label :Kursname %>*<br>
    <%= dat.text_field :course_name %>
  </p>
  <p>
    <%= dat.label :Ort %>*<br>
    <%= dat.text_field :location_string %>
  </p>
  <p>
    <%= dat.label :"Kurs-Typ" %>*<br>
    <%= select_tag('course[course_type]',  options_for_select(["Ausbilder-G" , "Ausbilder-F", "J", "G", "F", "NT"],"Ausbilder-F")) %>
  </p>
  <p>
    <%= dat.label :"L1-Fehlerpunkte" %>*<br>
    <%= dat.text_field :mistakesallowed_L1 %>
  </p>
  <p>
  <p>
    <%= dat.label :"L2-Fehlerpunkte" %>*<br>
    <%= dat.text_field :mistakesallowed_L2 %>
  </p>
  <p>
    <%= dat.label :"LJ-Fehlerpunkte" %>*<br>
    <%= dat.text_field :mistakesallowed_LJ %>
  </p>
  <p>
    <%= dat.label :"Kapazität" %>*<br>
    <%= dat.text_field :capacity %>
  </p>
  <p>
    <%= dat.submit %>
  </p>
<%end %>

<p>
Benötigte Felder
</p>

