
<h1>Kurse auslesen</h1>

<table>
<tr>
<th>ID:</th>
<th>Kursname</th>
<th>Ort</th>
<th>Bearbeiten</th>
<th>Anzeigen</th>
<th>Testfeld</th>
</tr>

<% @courses.each do |course| %>
<tr>
<td><%= course.id %></td>
<td><%= course.course_name %></td>
<td><%= course.location_string %></td>
<td><%= link_to 'be', edit_course_path(course) %></td>
<td><%= link_to 'disp', course_path(course) %></td>
<% end %>
</table>

