<h1>Kursdetails</h1>
<p>Kurs:  <%= @course.course_name %></p>
  <p>
    Ort		: <%= @course.location_string %><br>
    Typ		: <%= @course.course_type %><br>
	L1		: <%= @course.mistakesallowed_L1 %><br>
	L2		: <%= @course.mistakesallowed_L2 %><br>
	LJ		: <%= @course.mistakesallowed_LJ %><br>
	Capacity: <%= @course.capacity %><br>
  </p>


<p>Teilnehmer:</p>
<%= link_to 'Back', courses_path %>

